body{
    height:100vh;
    padding:0;
    margin:0;
    box-sizing: border-box;
    margin-left: 6%;
    margin-right: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.check{
    background-color: bisque;
}
header h1{
    font-family: 'Times New Roman', Times, serif;
}
header{
    display: flex;
    position: relative;
    bottom:3%
}
h1,nav,.icons{
    flex:1;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    column-gap:1%;
}
.nav{
    text-decoration: none;
    color:rgb(104, 101, 101)
}
.nav:hover{
    color:black;
}
.icons {
    color: rgb(160, 140, 140);
    display: flex;
    column-gap: 2.5%;
    align-items: center;
    justify-content: flex-end;
}
.h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.p{
    text-align: center;
    font-size: 10px;
}

.navbar a{
    text-decoration: none;
    color:black;
}
.container{
    width:100%;
    height:94%;
    display: flex;
    position: relative;
    bottom: 7%;
}
.prdrelated{
    flex:1;
}
.prdimg{
    flex:2;
    display: flex;
}
.prdfulldetails{

    flex:4;
}
.prdfulldetails h5{
    font-weight: lighter;
}
.red{
    height:70px;
    width:60px;
}
.prdrelated img{
    margin-left:60%;
    height:60px;
    width:60px;
}
.prdimg img{
    height:83%;
    width:90%;
    margin-left:5%;
}
.denim{
    display: flex;
    justify-content: space-between;
    height:6%;
    position: relative;
    bottom:2%;
}
.denim h2{
    position: relative;
    bottom:45%;
    font-family: 'Times New Roman', Times, serif;
}
.star{
    height:100%;
    position: relative;
    left:70%;
    top:20%;
}
.star label{
    height:100px;
    width:200px;
}
.ratings{
    height:5%;
    width:100%;
}
.currentprice{
    display: flex;
    position: relative;
    top:2.5%;
    column-gap: 1%;
}
.discount{
    height:1%;
    width:12%;
    background-color: #DA3F3F;
    border-radius: 12px;
    padding-left: 3%;
}
.eye{
    display: flex;
    color:grey;
    font-size: smaller;
    height:3%;
    width:100%;
    position: relative;
    top:5%;
}
.eye p{
    position: relative;
    bottom: 85%;
    margin-left: 1%;
}
.hurry{
    height:5%;
    width:70%;
    background-color: rgb(247, 196, 204);
    display: flex;
    justify-content: space-between;
    position: relative;
    top:7%;
    border:1px solid rgb(252, 115, 137);
    border-radius: 5px;
    color:red;
    font-weight: bolder;
    padding: 0.3%;
}
.hurry p{
    position: relative;
    bottom: 55%;
}
.stock{
    height:8%;
    width:80%;
    position: relative;
    top:6%
}
.stockline{
    height:4%;
    width:80%;
    background-color:grey;
    border-radius: 4px;
    border:1px solid transparent;
}
.redstock{
    height:100%;
    width:13%;
    background-color: red;
    border-radius: 3px;
}
#sizem{
    position: relative;
    top:3%
}
.sizes{
    height:6%;
    width:30%;
    background-color:rgb(255, 255, 255);
    display: flex;
    column-gap: 2%;
}
.sizes div{
    flex:1;
    border:1px solid rgb(165, 163, 163);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;   
}
.colorlabel{
    position: relative;
    bottom: 3%;
}
.colors{
    height:6%;
    width:15%;
    position: relative;
    bottom: 6%;
    display: flex;
    column-gap: 9%;
}
.colors div{
    flex:1;
}
.blue{
    background-color:deepskyblue;
    border-radius: 50%;
}
.black{
    background-color: black;
    border-radius: 50%;
}
.pink{
    background-color: pink;
    border-radius: 50%;
}
.colors div:hover{
    border:1px solid black;
    box-shadow: 0px 2px 15px rgb(194, 193, 193) ;
}
.quantity{
    position: relative;
    bottom: 10%;
}
.quantitycheck{
    height:5%;
    width:80%;
    position: relative;
    bottom: 13%;
    display: flex;
    column-gap: 7%;
}
.qntydrop{
    flex:0.8;
    display: flex;
    justify-content: space-around;
    column-gap: 23%;
    border:1px solid rgb(219, 219, 219);
    border-radius: 4px;
}
.addcart{
    flex:3;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    border-radius: 6px;
}
.vectors{
    height:7%;
    width:80%;
    border-bottom: 1px solid rgb(165, 165, 165);
    position: relative;
    bottom: 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vectors label{
    font-weight:600;
    font-size: small;
}
.delivery{
    display:flex;
    position: relative;
    bottom:14%;
}
.delivery img{
    height:5%;
    position: relative;
    top: 15px
}
.guarante{
    display: flex;
    position: relative;
    bottom: 18%;
}
.guarante img{
    height:5%;
    position: relative;
    top:17px;
}
.minicart-main{
    background-color:rgba(190, 182, 182, 0.5) ;
    height:100vh;
    width: 100%;
    position: relative;
    bottom: 110%;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
.minicart-details{
    height:100%;
    width:40%;
    background-color: rgb(255, 255, 255);
    padding:2%;
    text-decoration: none;
}
.mcart{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
}
.cross{
    height:5%;
    width:3%;
    position: relative;
    top:20px;
    left:4%
}
.red-dress{
    display: flex;
    column-gap: 2%;
}
.red-dress-details{
    line-height: 3px;
}
.countdroplist{
    width:100%;
    height:15%;
    background-color: rgb(216, 213, 213);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:row;
    border-radius: 4px;
}
.checkdollar{
    position: relative;
    top:21%;
}
.total{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom:30px;
}
.checkoutbtn{
    width:70%;
    height:5%;
    padding: 1.5%;
    border-radius: 7px;
    position: relative;
    bottom: 30px;
    background-color: black;
    box-shadow: 0px 8px 12px rgb(189, 185, 185);
    color: white;
    font-size: smaller;
    margin-left: 9%;
    text-decoration: none;
    text-align: center;
}
.viewsc{
    position: relative;
    left:43%;
}